{
    "presets": [
      "es2015",
      "react"
    ],
    "plugins": [
      "babel-plugin-add-module-exports",
      "babel-plugin-transform-object-rest-spread",
      "babel-plugin-transform-class-properties",
	  "babel-plugin-relay",
	  ["module-resolver",{
			"root": ["./src"],
			"alias":{
				"main":"index.js",
				"knowledge":"./knowledge",
				"publish":"./publish",
				"time-manage":"./time-manage",
				"tv":"./tv",
				"components":"./components",
				"db":"./db",
				"icons": "./icons",
				"family": "./family",
				"qili":"qili-app/lib",
			}
		}]
    ]
}