{
    "presets": [
      "es2015",
      "react"
    ],
    "plugins": [
      "babel-plugin-add-module-exports",
      "babel-plugin-transform-object-rest-spread",
      "babel-plugin-transform-class-properties",
	  "babel-plugin-relay",
	  ["module-resolver",{
			"root": ["."],
			"alias":{
				"main":"./src/index.js",
				"knowledge":"./src/knowledge",
				"publish":"./src/publish",
				"time-manage":"./src/time-manage",
				"setting":"./src/setting",
				"tv":"./tv",
				"components":"./src/components",
				"icons": "./src/icons",
				"family": "./src/family",
				"qili":"qili-app/lib",
			}
		}]
    ]
}