language: android
android:
 components:
  - build-tools-23.0.2
  - android-22

addons:
 apt:
  packages:
   - sshpass

before_install:
 - echo "install nodejs"
 - nvm install 4.2
 - node --version
 - npm --version
 - nvm --version

install:
 - npm install --production
 - npm install browserify node-lessify uglifyify cordova@5.3.3 svg-to-png

script:
 - npm run merge
 - npm run merge.debug
 - npm run cordova
 - mv cordova/platforms/android/build/outputs/apk/android-release-unsigned.apk dist/app.apk
 - ls dist -l
 - travis_wait sshpass -e scp -C -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null dist/index.html $DEPLOY_PATH
 - travis_wait sshpass -e scp ÔºçC -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null dist/allin1.html $DEPLOY_PATH
 - travis_wait sshpass -e scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null dist/app.apk $DEPLOY_PATH
 - travis_wait sshpass -e scp -C -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null dist/test.js $DEPLOY_PATH
