
@import "node_modules/qili-app/style/index";
.calendar{
    text-align: center;
    >:first-child{
        margin:auto;
    }
}

figure{
    img{
        width:auto!important;
    }
}

.child-photo{
    text-align:center;

    img{
        width:150px;
        height:150px;
    }
}

.contexture{
    z-index:1200;
}

.floating.sticky.bottom{
    bottom: @footbarHeight+50 !important;
    z-index: @topzIndex;
}

.editor{
    position:relative;
    .readonly{
        img{
            width:100%;
            clear:both;
            padding:5px 50px
        }
        time{
            font-size:xx-small;
            float: right;
        }
        p,textarea{
            font-size:12px;
        }
        p{
            padding:10px;
        }
    }
    .section{
        border:1px dotted lightgray;
        textarea{
            border-top: 1px dotted lightgray!important;
        }
        img{margin:1px}
    }
    .adder{
        position:absolute!important;
        bottom:0;
        right:0;
        margin:0;
        opacity:0.3;
    }
}

.rewards{
	@rowHeight:50px;
    @goalWidth:100px;
    @iconWidth:21px;
    @axisWidth:1px;
    @faceWidth:50px;
	@arrowHeight:10px;


	position: relative;
	margin-top:@faceWidth + @faceWidth/2 + 10px;
	margin-left: @goalWidth;
	border-left: @axisWidth solid lightgray;

	>*{
		position: absolute;
	}

	svg.arrow{
		width:@arrowHeight+1;
		height:@arrowHeight;
		top:-@arrowHeight;
		left:-@arrowHeight/2-1;
		stroke:lightgray;
		fill:lightgray;
	}

	.goal{
		.grid;

		line-height:@rowHeight;
		width: @goalWidth+@iconWidth+20px;
		left: 	-1*ceil(@goalWidth+@iconWidth/2);

		color: lightgreen;
		font-weight:700;

		>*{
			vertical-align:middle;
		}
		>:first-child{
			width:@goalWidth;
			text-align:right;
		}

		>:last-child{
			font-size:x-small;
			font-weight:normal;
		}

		.icon{
			width:@iconWidth;
			text-align:center;
		}
	}

	.goal.pending{
        top:0px;

		>:last-child{
			font-size:initial;
		}

		input{
			border:0px;
			background:transparent;
			font-size:12px;
		}

		&.sticky{
			left:-5px!important;
		}

		transition: top 0.5s;
	}

	.reward{
		.grid;
		line-height:@rowHeight;
		>*{
			vertical-align:middle;
		}

		left: -6px;

		.icon{
			width:@iconWidth;
			font-weight:700;
			font-size: 30px;
			color:green;
		}

		.reason{
			color: green;
		}

		>:last-child{
			width:3em;
			font-size:smaller;
		}
	}

	.reward.pending{
		position:fixed;

		top:@stickyOffset;
		left:@goalWidth - @faceWidth/2;
		@media screen and (min-width:@maxWidth){
			.sticky(left, @goalWidth - @faceWidth/2)
		}

		width: 300px;

		.reason{
            .rewarder{
    			width: @faceWidth !important;
    			height: @faceWidth !important;
    			fill: green !important;
            }

            .plus{
                transition:font-size 1s;
                font-size: x-small;
                &.plusing{
                    font-size: xx-large;
                }
            }
		}

		font-size:24pt;

		transition: opacity 2s;

		&.hide{
			opacity:0;
		}
	}
}
