@import "node_modules/qili-app/style/index";

.child-photo{
    text-align:center;

    img{
        width:150px;
        height:150px;
    }
}


h1{
    height: 100px;
    background-color:darkorange;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin:0px;

    a{
        text-decoration:none
    }

    li{

    }
}

h2{
    height: 80px;
    background-color:darksalmon;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.li{
    &.photo0{

    }

    &.photo1{

    }

    &.photo3{

    }
}

summary{
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin: 5px auto;
}

.knowledge{
    img{
        width:100%;
        clear:both;
        padding:20px;
    }
}

.editor{
    position:relative;
    .readonly{
        img{
            width:100%;
            clear:both;
            padding:5px 50px
        }
        time{
            font-size:xx-small;
            float: right;
        }
        p,textarea{
            font-size:12px;
        }
        p{
            padding:10px;
        }
    }
    .section{
        border:1px dotted lightgray;
        textarea{
            border-top: 1px dotted lightgray!important;
        }
        img{margin:1px}
    }
    .adder{
        position:absolute!important;
        bottom:0;
        right:0;
        margin:0;
        opacity:0.3;
    }
}

.rewards_reward{
	text-align:center;
	font-size:32px;
	
}

.rewards_detail{
	.grid;
	
	margin-top:20px;
	
	ul.rules{
		margin-left: 0px;
		padding-left: 0px;
		
		border-left: 3px solid gray;
		
		li{
			margin-left: 0px;
			padding-left: 0px;
		}
	}
	
	ul.rewarded{
		margin-right: 0px;
		padding-right: 0px;
		
		border-right: 1px solid gray;
		
		direction:rtl;
		
		
		
		li{
			margin-right: 0px;
			padding-right: 0px;
		}
	}
	
	
	ul{
		list-style-position: inside;
		position: relative;
		
		li{
			position: absolute;
		}
	}
}
